
m12/Assets.xcassets/Contents.json
m12/Assets.xcassets/AppIcon.appiconset/Contents.json
m12/Assets.xcassets/AccentColor.colorset/Contents.json
m12.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
m12.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
m12.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
m12.xcodeproj/project.xcworkspace/contents.xcworkspacedata
m12.xcodeproj/project.pbxproj
.DS_Store
m12/Assets.xcassets/star.imageset/Contents.json
m12/Assets.xcassets/star.imageset/Star 5-1.pdf
m12/Assets.xcassets/star.imageset/Star 5.pdf
m12/Base.lproj/LaunchScreen.storyboard
m12/Base.lproj/Main.storyboard
m12/Colors.xcassets/Colors/Black.colorset/Contents.json
m12/Colors.xcassets/Colors/Blue.colorset/Contents.json
m12/Colors.xcassets/Colors/Contents.json
m12/Colors.xcassets/Colors/Red.colorset/Contents.json
m12/Colors.xcassets/Contents.json
m12/Info.plist
m12/ru.lproj/LaunchScreen.strings
m12/ru.lproj/Main.strings
